body {
    margin: 0;
    background-color: #141318;
    font-family: 'Source Code Pro', monospace;
    color: #FF0090;
}

h1 {
    font-size: 50px;
    text-shadow:
        -0 -2px 1px #000000,
        0 -2px 1px #000000,
        -0 2px 1px #000000,
        0 2px 1px #000000,
        -2px -0 1px #000000,
        2px -0 1px #000000,
        -2px 0 1px #000000,
        2px 0 1px #000000,
        -1px -2px 1px #000000,
        1px -2px 1px #000000,
        -1px 2px 1px #000000,
        1px 2px 1px #000000,
        -2px -1px 1px #000000,
        2px -1px 1px #000000,
        -2px 1px 1px #000000,
        2px 1px 1px #000000,
        -2px -2px 1px #000000,
        2px -2px 1px #000000,
        -2px 2px 1px #000000,
        2px 2px 1px #000000,
        -2px -2px 1px #000000,
        2px -2px 1px #000000,
        -2px 2px 1px #000000,
        2px 2px 1px #000000;
}

.container {
    width: 1320px;
    background-color: black;
    margin: auto;
    border-radius: 15px;
}

.promo {
    height: 750px;
    background-image: url(../img/promo.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* 1200px < width < 1399px */
@media(max-width: 1399px) {
    .container {
        width: 1140px;
    }
}

/* 992px < width < 1199px */
@media(max-width: 1199px) {
    .container {
        width: 960px;
    }
}

/* 768px < width < 991px */
@media(max-width: 991px) {
    .container {
        width: 720px;
    }
}

/* 576px < width < 767px */
@media(max-width: 767px) {
    .container {
        width: 540px;
    }
}

/* width < 575px */
@media(max-width: 575px) {
    .container {
        width: 100%;
        padding: 0;
    }
}