body {
    margin: 0;
    background-color: violet;
}

.container {
    width: 1320px;
    background-color: #E5D5D0;
    margin: auto;
    border-radius: 15px;
}

/* 1200px < width < 1399px */
@media(max-width: 1399px) {
    .container {
        width: 1140px;
    }
}

/* 992px < width < 1199px */
@media(max-width: 1199px) {
    .container {
        width: 960px;
    }
}

/* 768px < width < 991px */
@media(max-width: 991px) {
    .container {
        width: 720px;
    }
}

/* 576px < width < 767px */
@media(max-width: 767px) {
    .container {
        width: 540px;
    }
}

/* width < 575px */
@media(max-width: 575px) {
    .container {
        width: 100%;
        padding: 0;
    }
}